[Unit]
Description=Run WTTJ scrape daily

[Timer]
OnCalendar=*-*-* 03:30:00
RandomizedDelaySec=2h
Persistent=true
Unit=wttj-scrape.service

[Install]
WantedBy=timers.target
